.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 ;
  text-align: center;
}

form {
  margin: 20px;
}

form div {
  margin-bottom: 10px;
}

form span {
  color: red;
  font-size: 12px;
}

button {
  margin-top: 10px;
}